<?php $this->load->view("templates/public/header.html");?>
<style type="text/css">
    #form{
        width: 90%;
        margin: 20px auto;
        border: 1px solid lavender;
        padding: 10px;
    }
    .legend{
        text-align: center;
    }
    .form-group label{
        display: block;
        margin-left: 10px;
        font-size: 15px;

    }
    .form-group button{
        display: block;
        width: 100px;
        margin: auto;

    }

</style>
<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading">
        设备添加
    </div>
    <div class="error-info">
        <?php echo validation_errors() ?>
    </div>
    <div id="form">
        <?php echo form_open("device/add_device")?>
        <fieldset >
            <legend class="legend">设备添加项</legend>
            <div class="form-group">
                <label for="device_name">设备名</label>
                <input type="text" class="form-control" id="device_name"   name="device_name" value="<?php echo set_value('device_name'); ?>" placeholder="设备名">
            </div>
            <div class="form-group">
                <label for="city_name">设备城市</label>
                <input type="text" class="form-control" id="city_name"   name="city_name"
                       value="<?php echo set_value('city_name'); ?>" placeholder="设备城市（不带市/县）">
            </div>
            <div class="form-group">
                <label for="description">设备描述</label>
                <input type="text" class="form-control" id="description" name="device_description" value="<?php echo set_value('device_description'); ?>" placeholder="设备描述">
            </div>
            <div class="form-group">
                <label for="device_id">设备号</label>
                <input type="text" class="form-control" id="device_id"  name="device_id" value="<?php echo set_value('device_id'); ?>"placeholder="设备号">
            </div>
            <div class="form-group">
                <label for="device_type">设备类型</label>
                <select class="form-control" id="device_type" name="device_type">
                    <?php foreach(System_config::$deviceTypeDesc as $key=> $value):?>
                        <option value="<?=$key?>"><?=$value?></option>
                    <?php endforeach;?>
                </select>
            </div>
            <div class="form-group">
                <label for="device_template_id">设备所属型号</label>
                <select class="form-control" id="device_template_id" name="device_template_id">
                    <?php foreach($deviceTemplateData as $row):?>
                    <option value="<?=$row['device_template_id']?>"><?=$row['name']?></option>
                    <?php endforeach;?>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">添加</button>
            </div>
        </fieldset>
        </form>

    </div>

</div>
<?php $this->load->view("templates/public/footer.html");?>