<?php $this->load->view("templates/public/header.html");?>
<div class="panel panel-default">
    <div class="panel-heading">
        智慧灌溉系统控制-<?=$data['device_id']?>设备修改
    </div>
    <div class="panel-body">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-lg-5">
                <div class="input-group">
                <span class="input-group-btn ">
                    <button class="btn btn-default "  style="width: 100px; margin-right: 10px;"  type="button"> 设备号
                    </button>
                </span>
                    <select class="form-control search" name="device_id">
                        <?php foreach($deviceInfo as $key=> $value):?>
                        <option value="<?=$value['device_id']?>"
                        <?php if($value['device_id']==$data['device_id']){echo "selected";}?>>
                        <?=$value['device_id']?></option>
                        <?php endforeach;?>
                    </select>
                </div>
            </div>

        </div>


        <div class="row">
            <table class=" table table-bordered">
                <thead>
                <th>设备号</th>
                <th>
                    传感器序号
                </th>
                <th>
                    传感器灌溉下限
                </th>
                <th>
                    传感器灌溉上限
                </th>

                <th>
                    风险
                </th>

                <th>
                    控制
                </th>


                <th>确认修改</th>
                </thead>
                <tbody>
                </tbody>
                <?php for($i=0;$i<4;$i++):?>
                <tr device-id="<?=$data['device_id']?>" sensor-id="<?=$i+1?>">
                    <td><?=$data['device_id']?></td>
                    <td>第<?=$i+1?>传感器</td>

                        <td><input  type="text" name="irrigation_min" class="data"
                                   value="<?=$data['irrigation_min'][$i]?>"></td>
                        <td><input   type="text" name="irrigation_max" class="data"
                                   value="<?=$data['irrigation_max'][$i]?>"></td>
                        <td>
                            <select  name="irrigation_type" class="data">
                                <?php foreach($irrigationType as $key=>$value):?>
                                <option value="<?=$key?>"
                                <?php if($key==$data['irrigation_type'][$i]){echo "selected";}?>><?=$value?></option>
                                <?php endforeach;?>
                            </select>
                        </td>
                        <td>
                            <select  name="irrigation_on" class="data">
                                <option value="1"
                                <?php if(1==$data['irrigation_on'][$i]){echo "selected";}?>>开
                                </option>
                                <option value="0"
                                <?php if(0==$data['irrigation_on'][$i]){echo "selected";}?>>关
                                </option>
                            </select>
                        </td>

                    <td><button class="btn-success editor" device-id="<?=$data['device_id']?>"
                                sensor-id="<?=$i+1?>">确认修改
                    </button></td>
                    </tr>
                <?php endfor;?>

                </tbody>
            </table>

        </div>
    </div>

</div>
<script type="text/javascript">
    $(".editor").click(function () {
        var param=new Object();
        var device_id=$(this).attr("device-id");
        var sensor_id=$(this).attr('sensor-id');
        param['device_id']=device_id;
        param['sensor_id']=sensor_id;
        var row=$("tr[sensor-id="+sensor_id+"]");
        $(row).find(".data").each(function () {
            var name=$(this).attr("name");
            param[name]=$(this).val();
        })
        var kit =new Kit();
        kit.query("/device/irrigation_editor",param,callback)

    })
    function callback(data) {
        alert(data.msg);
        window.location.reload();

    }

    $(".search").change(function () {
        var device_id=$(".search").val();
        window.location.href="/device/irrigation?device_id="+device_id

    })

</script>
<?php $this->load->view("templates/public/footer.html");?>